[submodule "src/fi/hg/core"]
	path = src/fi/hg/core
	url = git@github.com:heusalagroup/fi.hg.core.git
[submodule "src/fi/hg/matrix"]
	path = src/fi/hg/matrix
	url = git@github.com:heusalagroup/fi.hg.matrix.git
[submodule "src/fi/hg/ui/services"]
	path = src/fi/hg/ui/services
	url = git@github.com:heusalagroup/fi.hg.ui.services.git
